extends layout

block content

	//-div(id='map_canvas', style='width:100%; height:300px')
	iframe(id="mapa", src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d1516.45735765362!2d-6.063626961570652!3d40.52137610155462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e2!4m3!3m2!1d40.5203683!2d-6.0632027!4m3!3m2!1d40.5222646!2d-6.0647250999999995!5e0!3m2!1ses!2ses!4v1417709095885", frameborder="0")
block scripts
	script.
		$('li#nav-recorrido').addClass('active')
	//-script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyClfaIE5xpWRYlcA0iTVstfoABepTVk7pY&sensor=FALSE")
	//-script(src="/javascripts/mismapas.js")